body {
    font-family: 'Courier New';
    background-image: url("image/bg.jpg"); /* Pastikan folder dan nama file benar */
    background-size: cover;       /* gambar menyesuaikan layar */
    background-repeat: no-repeat; /* tidak diulang */
    background-attachment: fixed; /* tetap saat discroll */
    color: rgb(236, 176, 176);                 /* warna teks default */
    padding: 20px;
}
h2 {
    color: rgb(255, 255, 255);
}
p {
    line-height: 1.6em;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fff;
  color: #000;
}

/* Navbar */
header {
  background: #4CAF50;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

header h2 {
  margin: 0;
  font-size: 18px;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-size: 14px;
}

/* Bagian Perkenalan */
.intro {
  display: flex;
  padding: 40px;
  background: #f0f0f0;
}

.foto {
  width: 200px;
  height: 250px;
  background: #ddd; /* kotak kosong untuk foto */
  margin-right: 20px;
}

.teks h3 {
  margin: 0 0 10px;
}

/* Footer */
footer {
  background: #fff;
  padding: 30px 40px;
}
