body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fff;
  color: #000;
}

/* Navbar */
header {
  background: #4CAF50;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

header h2 {
  margin: 0;
  font-size: 18px;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-size: 14px;
}

/* Bagian Perkenalan */
.intro {
  display: flex;
  padding: 60px;
  background: #f0f0f0;
  gap: 30px; /* otomatis kasih jarak antar elemen flex */
}

.foto {
  width: 200px;
  height: 250px;
  background: #ddd; /* kotak kosong untuk foto */
  margin-right: 20px;
}

.teks h3 {
  margin: 0 0 10px;
}

/* Footer */
footer {
  background: #fff;
  padding: 30px 40px;
}
